<h1>Products</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag product.images.first.variant(resize: "300x300") if product.images.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text"><%= product.description %></p>
          <%= link_to 'View', product_path(product), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
